<div>

<h2>Crear nuevo dron</h2>

<form action="/drones/create" method="post"> 

<label for="name">Nombre del dron:</label>
<input type="text" name="name">

<br>
<br>
<label for="propellers">Propulsores:</label>
<input type="number" name="propellers">
<br>
<br>
<label for="maxSpeed">Máxima velocidad:</label>
<input type="number" name="maxSpeed">
<br>
<br>

<button>Crear nuevo dron</button>



</form>

</div>

